<mat-divider class="more-space"></mat-divider>


<app-headline subtitle="AV DIMAG"
  title="Archivverbund DIMAG Schweiz">
</app-headline>

<p class="mat-body">
  Um dem gesetzlich vorgeschriebenen Archivierungsauftrag auch für digitale
  Unterlagen nachkommen zu können, haben sich Kantone Aargau, Schaffhausen,
  Solothurn und Zürich zum Archivverbund DIMAG Schweiz (AV DIMAG CH) zusammengeschlossen.
  <br>
  Die Mitglieder setzen zur Archivierung digitaler Aufzeichnungen das System DIMAG ein.
  DIMAG steht für DIgitales MAGazin, ein Softwarepaket aus mehreren Modulen, das 2006
  vom Landesarchiv Baden-Württemberg entwickelt wurde und mittlerweile sechs Module umfasst.
  Das DIMAG-System wird in über 150 Archivinstitutionen in Deutschland, Österreich und der
  Schweiz erfolgreich eingesetzt.
  <br>
  Die Mitglieder des AV DIMAG CH arbeiten auf konzeptioneller Ebene eng zusammen. Sie betreiben
  eine gemeinsame Geschäftsstelle und haben einen öffentlich-rechtlichen IT-Dienstleister mit
  dem Betrieb des elektronischen Magazins beauftragt.
  <br>
  Als Kooperationspartner der deutschen DIMAG-Entwicklungspartner beteiligt sich der AV DIMAG CH
  an der Qualitätssicherung des DIMAG-Systems, die allen beteiligten Archiven zugutekommt.
</p>
