<!-- main toolbar / header -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- "close sidenav" button; can be activated later
      <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button> -->
    <h1 [routerLink]="'/'" class="link">Toolbox für eCH-0160 Ingest Prozess</h1>
    <span class="fill-remaining-space"></span>
    <div>
      <a mat-button [routerLink]="'/about'"> Über </a>
      <a mat-button [routerLink]="'/help'"> Hilfe </a>
    </div>
  </mat-toolbar-row>

</mat-toolbar>

<!-- main navigation and routing content -->
<mat-sidenav-container>

  <!-- main navigation -->
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a *ngFor="let item of navItems" mat-list-item
        [routerLink]="item.route"
        routerLinkActive="active-link">
          {{ item.label }}
        </a>
    </mat-nav-list>
    <!-- "close sidenav" button; can be activated later
    <mat-nav-list class="bottom">
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>
        <mat-icon>chevron_left</mat-icon> Schliessen</a>
    </mat-nav-list> -->
  </mat-sidenav>

  <!-- main content -->
  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
