<app-headline
  subtitle="AV DIMAG Toolbox"
  title="Werkzeuge für den eCH-0160 Ingest Prozess">
</app-headline>

<p class="mat-body">
  Die Toolbox beinhaltet Werkzeuge, um mit eCH-0160 umgehen zu können und
  SIPs für den DIMAG Ingest vorzubereiten. Toolbox ist eine Angular Appliaktion,
  in der wir die einzelnen Werkzeuge als Module entwickeln. In Angular als Library
  bezeichnet, werden sie in `projects/` abgelegt. Die Idee ist, dass wir diese
  Werkzeuge später einzeln als NPM Module extrahieren resp. publizieren können,
  und evt. im DIMAG IPM zu integrieren. Dies erlaubt uns eine gewisse flexibilität
  und modularität.
</p>
