@import "font";
@import "theme";
@import "config";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

router-outlet+* {
  display: block;
  // margin: 24px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.center {
  margin: 0 auto !important;
}

.link {
  cursor: pointer;
}

.withSeparator {
  border-bottom: 1px solid gray;
  padding: 4px 0 12px 0;
}

// tweak angular material design

.mat-toolbar {
  padding: 0 !important;

  // big menu/nav buttons in the header
  .mat-button {
    border-radius: 0;
    height: 64px;
    padding-top: 12px;
    min-width: 96px;

    &.active {
      background-color: rgba(0, 0, 0, 0.39);
    }
  }
}

// fix position of tab's header
.mat-tab-header {
  top: 0;
  z-index: 1000;
  position: sticky !important;
  position: -webkit-sticky !important; /* macOS/iOS Safari */
  background-color: #fff;
}

.mat-dialog-actions {
  width: 100%;

  .multiple-actions {
    padding-top: 16px;
    display: contents;
  }
}

.mirror-icon {
  transform: scaleX(-1);
}

// todo: could be a solution for user feedback instead of dialog
.mat-snack-bar-container {
  color: #000;

  &.success {
    background-color: rgb($success, 0.9);
  }

  &.failed {
    background-color: rgba($failed, 0.9);
  }

  &.note {
    background-color: rgb($note, 0.9);
  }

  .mat-simple-snackbar-action button {
    color: #000;
  }
}

.hint,
.warning {
  padding: 8px;
  margin: 4px 0;
  border-radius: 4px;
  display: block;
}
.hint {
  background-color: rgb(255, 255, 160);
}
.warning {
  background-color: rgba(255, 0, 60, .39);
}
.mat-menu-panel.metadata {
  max-width: 640px !important;
  padding: 8px !important;
}

.as-split-area {
  overflow: hidden !important;

  .mat-tab-label-active {
    // color:rgba(0, 0, 0, 0.39)
    opacity: 1;
  }

  .mat-tab-body-wrapper {
    height: calc(100vh - 64px - 48px);

    .mat-tab-body-content {
      padding-bottom: 60px;
      height: calc(100vh - 64px - 48px - 60px);
    }
  }
}
