<!-- main toolbar / header -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="title">
      <h1 class="main-title">Toolbox für eCH-0160 Ingest Prozess</h1>
    </div>
    <div class="nav-items">
      <a mat-button [routerLink]="'/upload'">SIP hochladen</a>
      <a mat-button [routerLink]="'/organize'">SIP verarbeiten</a>
      <a mat-button [routerLink]="'/info'">Info</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- main navigation and routing content -->
<mat-sidenav-container>

  <!-- todo: add sidenav? -->
  <!-- main navigation -->
  <mat-sidenav #sidenav mode="side" opened="false">
    <mat-nav-list>
      <a *ngFor="let item of navItems" mat-list-item
         [routerLink]="item.route"
         routerLinkActive="active-link">
        {{ item.label }}
      </a>
    </mat-nav-list>
    <!-- "close sidenav" button; can be activated later
    <mat-nav-list class="bottom">
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>
        <mat-icon>chevron_left</mat-icon> Schliessen</a>
    </mat-nav-list> -->
  </mat-sidenav>

  <!-- main content -->
  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
