<!-- main toolbar / header -->
<mat-toolbar class="main" color="primary">
  <a mat-button routerLink="/upload" routerLinkActive="active">Start</a>
  <a mat-button routerLink="/organize" routerLinkActive="active">Paketieren</a>
  <span class="fill-remaining-space"></span>
  <a mat-button routerLink="/info" routerLinkActive="active" class="info">
    Info / Hilfe
    <span class="version">{{appVersion}}</span>
  </a>
</mat-toolbar>

<!-- main content -->
<div class="main-content">
  <router-outlet></router-outlet>
</div>
