<div class="ingest-package-wrapper">
  <mat-toolbar class="sub">
    <p>Ingest Pakete: {{ingestPackages.length}}</p>
    <span class="fill-remaining-space"></span>
    <button mat-button [disabled]="ingestPackages.length === 0" (click)="removeAllIngestPackages.emit()">
      Alle entfernen
    </button>
    <button mat-button [disabled]="ingestPackages.length === 0" (click)="exportAllIngestPackages.emit(ingestPackages)">
      Pakete exportieren
    </button>
  </mat-toolbar>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <div class="ingest-package-content">

    <ng-container *ngIf="ingestPackages.length === 0; else packagePanel">
      <div class="placeholder-message">
        <p>Auf dieser Seite werden die Ingest Pakete zusammengestellt.</p>
        <p>Sie können eine <strong>automatische Generierung durchführen</strong> oder manuell die
          Pakete definieren.</p>
      </div>
    </ng-container>

    <ng-template #packagePanel>
      <div *ngFor="let ingestPackage of ingestPackages" class="ingest-package-list ">
        <mat-expansion-panel class="ingest-package-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ingestPackage.name[0]._text}}
            </mat-panel-title>
            <mat-panel-description>
              {{ ingestPackage.datei?.length }} Dateien
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let file of ingestPackage.datei">
              {{ file.name[0]._text }}
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
        <button mat-stroked-button class="remove-package-button" (click)="removeIngestPackage.emit(ingestPackage)">Paket
          entfernen</button>
      </div>
    </ng-template>
  </div>
</div>
