<mat-tab-group color="white">
  <mat-tab [disabled]="true">
    <ng-template mat-tab-label>
      <span class="reset-disabled">Ingest Pakete: {{ingestPackages.length}}</span>
    </ng-template>

    <ng-container *ngIf="ingestPackages.length === 0; else packagePanel">
      <div class="placeholder-message">
        <p>Auf dieser Seite werden die Ingest Pakete zusammengestellt.</p>
        <p>Sie können eine<strong style="color: green"> automatische Generierung durchführen</strong> oder manuell die
          Pakete zusammenstellen.</p>
      </div>
    </ng-container>

    <ng-template #packagePanel>
      <div class="package-buttons">
        <button mat-raised-button color="primary" (click)="removeAllIngestPackages.emit()">Alle Pakete
          entfernen</button>
        <button mat-raised-button color="primary" (click)="exportAllIngestPackages.emit(ingestPackages)">Pakete
          exportieren/speichern</button>
      </div>
      <div *ngFor="let ingestPackage of ingestPackages" class="ingest-package-wrapper">
        <mat-expansion-panel class="ingest-package-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ingestPackage.name[0]._text}}
            </mat-panel-title>
            <mat-panel-description>
              {{ ingestPackage.datei?.length }} Dateien
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let file of ingestPackage.datei">
              {{ file.name[0]._text }}
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
        <button mat-stroked-button class="remove-package-button" (click)="removeIngestPackage.emit(ingestPackage)">Paket
          entfernen</button>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
