.placeholder-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;

  p {
    text-align: center;
    margin: 0;
  }

}

.ingest-package-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 24px;
  margin-left: 24px;

  .ingest-package-panel {
    width: 75%;
    margin-right: 24px;
  }

  .remove-package-button {
    width: 25%;
    margin-right: 16px;
    height: 48px;
  }
}

