.dropzone {
  width: 450px;
  height: 200px;
  padding: 2rem;
  text-align: center;
  border: dashed 2px;
  position: relative;
  margin: 0 auto;
  background-color: lightgrey;

  input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  h3 {
    font-size: 20px;
  }
}

.mat-icon {
  transform: scale(5);
  margin-top: 45px !important;
  margin-bottom: 50px;
}
