@import "theme";
@import "config";

// just a simple workaround to get the shared lib style on the global level
// @import "@av-dimag/ingest/src/assets/styles/main.scss";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

router-outlet + * {
  display: block;
  margin: 24px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.link {
  cursor: pointer;
}

.active-link {
  background: rgba(0, 0, 0, 0.04);
}

// tweak angular material design
.mat-snack-bar-container {
  color: #000;
  &.success {
    background-color: rgb($success, 0.9);
  }
  &.failed {
    background-color: rgba($failed, 0.9);
  }
  &.note {
    background-color: rgb($note, 0.9);
  }
  .mat-simple-snackbar-action button {
    color: #000;
  }
}
