<div *ngFor="let item of sip.paket[0].ablieferung[0] | keyvalue; let last = last;">
    <div [ngSwitch]="item.key">
      <div *ngSwitchCase="'ordnungssystem'">
        <!-- ordnungssystem contains the dossier and documents and should be displayed in the content tab -->
      </div>
      <div *ngSwitchCase="'provenienz'" [class.withSeparator]="!last">
        <strong>{{item.key}}</strong><br>
        <ul>
        <span *ngFor="let prov of provenienz | keyvalue">
            <span *ngIf="prov.key !== '_text'">
              <li>
                <strong>{{prov.key}}</strong>:
                <span [innerHtml]="prov.value | stringifyValue"></span><br>
              </li>
            </span>
          </span>
        </ul>
      </div>
      <div *ngSwitchDefault >
        <div *ngIf="item.key !== '_text'" [class.withSeparator]="!last">
          <strong>{{item.key}}</strong><br>
          <span [innerHtml]="item.value | stringifyValue"></span>
        </div>
      </div>
    </div>
</div>
