.dropzone {
  width: 450px;
  height: 200px;
  padding: 2rem;
  border: dashed 2px #3a3a3a;
  position: relative;
  margin: 0 auto;
  background-color: #dadada;
  margin-top: 200px !important;
  transform: scale(1.8);
  border-radius: 4px;

  input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  h3 {
    font-size: 16px;
  }
}

.upload {
  text-align: center;
}

.custom {
  .actions {
    display: inline-flex;
    width: calc(100% - 4rem);
    padding-bottom: 16px;
    position: absolute;
    bottom: 0;
  }
}

.mat-icon {
  transform: scale(5);
  margin-top: 45px !important;
  margin-bottom: 50px;
}
