  <ng-container *ngIf="!currentFile; else uploadedData">
    <div class="dropzone upload">
      <div *ngIf="!loading; else processData">
        <mat-icon class="folder-icon" fontIcon="archive"></mat-icon>
        <h3><strong>Wählen Sie ein SIP </strong>oder ziehen Sie es hierher.</h3>
        <input type="file" id="fileInput" (drop)="resetFileInput($event)" (click)="resetFileInput($event)"
          (change)="uploadFile($event)" name="fileInput" accept=".zip" />
      </div>
      <ng-template #processData>
        <mat-icon class="folder-icon" fontIcon="unarchive"></mat-icon>
        <h3>Das Paket wird überprüft. Dieser Schritt kann je nach Grösse einen Moment dauern.</h3>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </ng-template>
    </div>
  </ng-container>


<ng-template #uploadedData>
  <div class="dropzone custom">
    <p>Typ: {{ fileData.type }}</p>
    <p>Ersteller: {{ fileData.publisher }}</p>
    <p>Version: {{ fileData.version }}</p>
    <p>Das Paket ist valid und kann nun verarbeitet werden.</p>
    <div class="actions">
      <button mat-stroked-button (click)="cancel()">Abbrechen</button>
      <span class="fill-remaining-space"></span>
      <button mat-flat-button color="primary" (click)="next()">Weiter</button>
    </div>
  </div>
</ng-template>
