.simple-dialog {

  .mat-dialog-container {
    background-color: whitesmoke;
  }

  .mat-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .mat-dialog-title {
    font-weight: bolder;
  }
}
